In [319]:
# q1 : Create your own class to perform a list search operation

In [320]:
import logging

logging.basicConfig(filename='logger.log',level=logging.DEBUG , filemode = 'w', format="%(asctime)s %(levelname)s %(message)s")

class ListSearch:
    def __init__(self):
        user_input = input("Enter a list of numbers separated by commas (eg, 1,2,3,4,5,7): ")
        try:
            # Convert the input string into a list of integers
            self.list_arr = [int(x) for x in user_input.split(',')]
            logging.info(f"List Initialized: {self.list_arr}")
        except ValueError as e:
            logging.error("Invalid input for the list. Ensure you enter only numbers separated by commas.")
            logging.exception(e)
            self.list_arr = [] #deault empty list is input is invalid
        
    def linear_search(self,target):
        try:
            logging.info("Search Operation....." )  
            #if target == target/0:
             #   _ = 1 / 0 #This will raise ZeroDivisionError
            for i in range(len(self.list_arr )):
                if self.list_arr [i] == target:
                    logging.info("Successful Search" )
                    return i , True
            logging.info("Unsuccessful Search" )
            return None, False
        except Exception as e:
            logging.exception("Error Occurred during search")
            return None, False

In [321]:
listsearch_obj = ListSearch ()

Enter a list of numbers separated by commas (eg, 1,2,3,4,5,7):  1,2,3,4,5

In [322]:
listsearch_obj.list_arr

[1, 2, 3, 4, 5]

In [323]:
listsearch_obj.linear_search(5)

(4, True)

In [324]:
listsearch_obj.linear_search(0)

(None, False)

In [325]:
import logging

logging.basicConfig(filename='logger.log', level=logging.DEBUG, filemode='w', format="%(asctime)s %(levelname)s %(message)s")

class ListSearch:
    def __init__(self):
        while True:
            try:
                # Ask for the size of the array
                size = int(input("Enter the size of the array: "))
                if size <= 0:
                    raise ValueError("Size must be a positive integer.")
                break
            except ValueError as e:
                logging.error("Invalid input for array size. Must be a positive integer.")
                logging.exception(e)
                print("Invalid size. Please try again.")

        while True:
            try:
                # Ask for the array elements
                user_input = input(f"Enter {size} numbers separated by commas (e.g., 1,2,3,...): ")
                # Convert the input string into a list of integers
                self.list_arr = [int(x) for x in user_input.split(',')]
                
                # Validate the length of the list
                if len(self.list_arr) != size:
                    raise ValueError(f"Expected {size} numbers, but got {len(self.list_arr)}.")
                
                logging.info(f"List Initialized: {self.list_arr}")
                break
            except ValueError as e:
                logging.error("Invalid input for the list. Ensure you enter the correct number of integers.")
                logging.exception(e)
                self.list_arr = []  # Default to an empty list on error
                print("Invalid input. Please try again.")

    def linear_search(self, target):
        try:
            logging.info("Search Operation started...")
            # Uncomment the next lines if you want to simulate an error
            # if target == target / 0:
            #     _ = 1 / 0  # This will raise ZeroDivisionError

            for i in range(len(self.list_arr)):
                if self.list_arr[i] == target:
                    logging.info(f"Successful Search: Found target {target} at index {i}.")
                    return i, True
            logging.info(f"Unsuccessful Search: Target {target} not found.")
            return None, False
        except Exception as e:
            logging.exception("Error Occurred during search")
            return None, False

In [ ]:
# Create the ListSearch object
listsearch_obj = ListSearch()

Enter the size of the array:  1,2,3,4,5,6,7,8

Invalid size. Please try again.

In [20]:
listsearch_obj.linear_search(5)

(None, False)

In [21]:
listsearch_obj.linear_search(1)

(0, True)

In [23]:
# q2 : create a class for dict new element addition

In [24]:
import logging

logging.basicConfig(filename='newlogger1.log', level=logging.DEBUG, filemode='w', format="%(asctime)s %(levelname)s %(message)s")

class DictManager:
    def __init__(self):
        self.my_dict = {}
        
    def add_element(self,key,value):
        logging.info("This is to add element to dict" )
        if key in self.my_dict:
            logging.error("This element is already present into dict" )
            print(f" Key '{key}' already exists. Updating the value.")
        self.my_dict[key] = value
        logging.info("This element is Added/Updated into dict " )
        print(f"Added/Updated: {key} -> {value}")
            
    def remove_element(self, key):
        if key in self.my_dict:
            del self.my_dict[key]
            logging.info("This element is deleted from dict" )
            print("Removed: {key}")
        else:
            logging.error("This element is not found in dict" )
            print(f"Key '{key} is not found.")
            
    def get_element(self,key):
        logging.error("This element is not found in dict" )
        return self.my_dict.get(key,"Key not found.")
    
    def display_dict(self):
        logging.info("This element is displayed from dict" )
        return self.my_dict

In [14]:
m = DictManager()

In [15]:
m.add_element('name','Alice')

Added/Updated: name -> Alice

In [16]:
m.add_element('age',30)

Added/Updated: age -> 30

In [17]:
m.display_dict()

{'name': 'Alice', 'age': 30}

In [18]:
m.get_element('Alice')

'Key not found.'

In [19]:
m.get_element('age')

30

In [20]:
m.remove_element(30)

Key '30 is not found.

In [21]:
m.remove_element('age')

Removed: {key}

In [22]:
m.display_dict()

{'name': 'Alice'}

In [307]:
# q3 : create a class for tuple data extraction operation

In [287]:
import logging

# Set up logging configuration
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

class TupleExtractor:
    def __init__(self, data):
        if not isinstance(data, tuple):
            logging.error("Initialization failed: Data must be a tuple.")
            raise TypeError("Data must be a tuple.")
        self.data = data
        self.flattened_data = self.flatten(data)
        self.index_map = self.create_index_map(self.flattened_data)
        logging.info(f"Initialized with data: {self.data}")

    def get_element(self, index):
        """Returns the element at the specified index in the flattened version of the tuple."""
        try:
            result = self.flattened_data[index]
            logging.info(f"Retrieved element at index {index}: {result}")
            return result
        except IndexError:
            logging.error(f"Index out of range: {index}")
            raise IndexError("Index out of range.")

    def get_slice(self, start=None, end=None):
        """Returns a slice of the flattened version of the tuple from start to end."""
        result = self.flattened_data[start:end]
        logging.info(f"Retrieved slice from index {start} to {end}: {result}")
        return result

    def find_element(self, value):
        """Returns a list of indices where the value is found in the flattened tuple."""
        indices = self.index_map.get(value, [])
        if indices:
            logging.info(f"Found element {value} at indices {indices}")
        else:
            logging.warning(f"Element {value} not found.")
        return indices

    def get_length(self):
        """Returns the length of the flattened version of the tuple."""
        length = len(self.flattened_data)
        logging.info(f"Length of flattened tuple: {length}")
        return length

    def count_occurrences(self, value):
        """Returns the number of occurrences of the value in the flattened version of the tuple."""
        count = len(self.index_map.get(value, []))
        logging.info(f"Count of element {value}: {count}")
        return count

    def flatten(self, data):
        """Recursively flattens a nested tuple."""
        flattened = []
        for elem in data:
            if isinstance(elem, tuple):
                flattened.extend(self.flatten(elem))
            else:
                flattened.append(elem)
        logging.debug(f"Flattened data: {flattened}")
        return flattened

    def create_index_map(self, flattened_data):
        """Creates a map of element values to their indices."""
        index_map = {}
        for i, value in enumerate(flattened_data):
            if value not in index_map:
                index_map[value] = []
            index_map[value].append(i)
        return index_map

In [288]:
data1 = (10,20,(30,40),50,60)

In [289]:
tup1 = Tuple_data_extract(data1)

In [290]:
tup1.get_element(1)

20

In [291]:
tup1.get_slice(-3)

[40, 50, 60]

In [292]:
tup1.find_element(40)

[(2, 1)]

In [293]:
tup1.find_element(170)

[]

In [294]:
data2 = (10,20,30,40,50,60)

In [295]:
tup2 = Tuple_data_extract(data2)

In [296]:
tup2.find_element(40)

[(3,)]

In [297]:
data3 = (10,(20,(30),(70,40),50),40,60)

In [298]:
tup3 = Tuple_data_extract(data3)

In [299]:
tup3.find_element(40)

[(1, 2, 1), (2,)]

In [300]:
tup3.count_occurrences(60)

1

In [301]:
tup3.count_occurrences(40)

2

In [302]:
data4 = (10, (20, (30,), (70, 40), 50), 60)

In [303]:
tup4 = Tuple_data_extract(data4)

In [304]:
tup4.count_occurrences(40)

1

In [305]:
tup4.find_element(40)

[(1, 2, 1)]

In [306]:
tup4.get_length()

7

In [68]:
# q4 : Create a class to implement all insert , update , delete operation for mysql

In [312]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 45.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [31]:
import mysql.connector
from mysql.connector import Error
from contextlib import contextmanager
import logging
logging.basicConfig(filename = 'logger.log', level = logging.DEBUG, filemode = 'w', format = "%(asctime)s %(levelname)s %(message)s")


class MySQLDatabase:
    def __init__(self,user,password, port,host,database =None):
        self.user = user
        self.password = password
        self.port = port
        self.host = host
        self.database = database
        self.connection = None

    def connect_to_mysql(self):
        """ Establising the connection to the MYSQL server """
        try:
            self.connection = mysql.connector.connect(
                host = self.host,
                port = self.port,
                user = self.user,
                password = self.password
            )
            if self.connection.is_connected():
                logging.info("successfully connected to mysql server")
                print("successfully connected to mysql server")
        except Error as e:
            logging.exception(f"Error: {e} occurred while connecting to mysql. ")
            print (f"Error: {e}")  

    @contextmanager
    def get_cursor(self, dictionary=False):
        """Context manager to get a cursor and ensure it is closed."""
        cursor = self.connection.cursor(dictionary=dictionary)
        try:
            yield cursor
        finally:
            cursor.close()
            
    def create_database(self, database_name):
        """Creates a new database if it does not already exist."""
        try:
            with self.get_cursor() as cursor:
                cursor.execute(f"show databases like '{database_name}'")
                result = cursor.fetchone()
                if result:
                    logging.error(f"Database '{database_name}' already exists")
                    print(f"Database '{database_name}' already exists")
                else:
                    cursor.execute(f"CREATE DATABASE {database_name}")
                    logging.info(f"Database '{database_name}' created successfully.")
                    print(f"Database '{database_name}' created successfully.")
        except Error as e:
            logging.exception(f"Error: {e} occurred during database creation")
            print(f"Error: {e} occurred during database creation")

    
    def use_database (self, database_name):
        """Select the database to use."""
        cursor = None
        try: 
            with self.get_cursor() as cursor:
                logging.info(f"Switched to database '{database_name}'.")
                cursor.execute(f"USE {database_name}")
                print(f"Switched to database '{database_name}'.")
        except Error as e:
            logging.exception(f"Error: {e} occurred during switching database")
            print(f"Error: {e} occurred during switching database")


    def close(self):
        """Closes the connection to the MySQL server."""
        if self.connection and self.connection.is_connected():
            self.connection.close()
            logging.info("Connection closed.")
            print("Connection closed.")

    def create_table(self,table_name,table_definition):
        """Creates a table in the database, distinguishing whether it was newly created or already existed."""
        try:
            with self.get_cursor() as cursor: 
                # Check if the table already exists
                cursor.execute(f"SHOW TABLES LIKE '{table_name}'")
                result = cursor.fetchone()
                if result:
                    logging.info(f"Table '{table_name}' already exists.")
                    print(f"Table '{table_name}' already exists.")
                else:
                    cursor.execute(f"CREATE TABLE {table_name} ({table_definition})")
                    logging.info(f"Table '{table_name} created successfully")
                    print(f"Table '{table_name}' created successfully.")
        except Error as e:
            logging.info(f"Error: {e} occured while creating table")
            print(f"Error: {e} occured while creating table'")
        finally:
            if cursor:
                cursor.close()

    def insert(self, table, columns, values):
        """Inserts data into a table."""
        placeholders = ', '.join(['%s'] * len(values))     # values = ('Alice Johnson', 'Data Analyst',70000.00)
        #When using %s, the database driver automatically handles the conversion of Python data types into the appropriate SQL data types. 
        #For example, a Python int is converted to an SQL INTEGER, and a Python str is converted to an SQL VARCHAR.
        columns_str = ', '.join(columns)  # columns = ['name','position','salary']
        #['%s'] * len(values) creates a list where the string '%s' is repeated as many times as there are elements in values.
        query = f"INSERT INTO {table} ({columns_str}) VALUES ({placeholders})"
        
        try:
            with self.get_cursor() as cursor:
                cursor.execute(query, values)
                self.connection.commit()
                if cursor.rowcount > 0:
                    logging.info(f"Record inserted successfully. Rows affected: {cursor.rowcount}.")
                    print(f"Record inserted successfully. Rows affected: {cursor.rowcount}.")
                else:
                    print("No record was inserted.")
        except Error as e:
            logging.error(f"Error: {e} inserting data into a table.")
            print(f"Error: {e} inserting data into a table.")
            
    def update(self, table, set_values, where_clause):
        """Updates records in a table."""
        set_clause = ', '.join([f"{col} = %s" for col in set_values.keys()])
        query = f"UPDATE {table} SET {set_clause} WHERE {where_clause}"
        
        try:
            with self.get_cursor() as cursor:
                cursor.execute(query, list(set_values.values()))
                self.connection.commit()
                if cursor.rowcount > 0:
                    logging.info(f"Record(s) updated successfully. Rows affected: {cursor.rowcount}.")
                    print(f"Record(s) updated successfully. Rows affected: {cursor.rowcount}.")
                else:
                    print("No records were updated because no matching records were found.")
        except Error as e:
            logging.error(f"Error: {e} while updating table")
            print(f"Error: {e} while updating table")

    def delete(self, table, where_clause):
        """Deletes records from a table."""
        query = f"DELETE FROM {table} WHERE {where_clause}"
        
        try:
            with self.get_cursor() as cursor:
                cursor.execute(query)
                affected_rows = cursor.rowcount  # Number of rows affected by the query
                self.connection.commit()
                
                if affected_rows > 0:
                    logging.info("Record(s) deleted successfully. Rows affected: {affected_rows}.")
                    print(f"Record(s) deleted successfully. Rows affected: {affected_rows}.")
                else:
                    print("No records were deleted because no matching records were found.")
        except Error as e:
            logging.error(f"Error: {e} while deleting table")
            print(f"Error: {e} while deleting table")

    def fetch_all(self, query, params=None):
        """Fetches all records from a query."""
        try:
            with self.get_cursor(dictionary=True) as cursor:
                cursor.execute(query, params)
                result = cursor.fetchall()
                logging.info("fetched all the data based on the queries")
                return result
        except Error as e:
            logging.error(f"Error: {e} fetching all the data based on the queries")
            print(f"Error: {e} fetching all the data based on the queries")
            return []

    def fetch_one(self, query, params=None):
        """Fetches a single row from the result of the query."""
        try:
            with self.get_cursor(dictionary=True) as cursor:
                cursor.execute(query, params)
                result = cursor.fetchone()
                
                # Consume any remaining results to avoid the "Unread result found" error
                while cursor.nextset():
                    cursor.fetchall()
                logging.info("fetched single row based on the queries")
                return result
        except Error as e:
            logging.error(f"Error: {e} fetching a single row record based on the queries")
            print(f"Error: {e} fetching a single row record based on the queries")
            return None

In [33]:
abc = MySQLDatabase(host = '127.0.0.1',port = 3306,user = 'root',password = 'Abhi@1972',database = 'savdb')

In [35]:
abc.connect_to_mysql()

successfully connected to mysql server

In [37]:
abc.create_database('savdb')

Database 'savdb' already exists

In [39]:
abc.create_database("new_db_from_jupyter")

Database 'new_db_from_jupyter' already exists

In [41]:
abc.use_database("new_db_from_jupyter")

Switched to database 'new_db_from_jupyter'.

In [43]:
table_name = "employees"
table_definition = """
id INT AUTO_INCREMENT PRIMARY KEY,
name VARCHAR(100),
position VARCHAR(100),
salary DECIMAL(10,2)
"""
abc.create_table(table_name,table_definition)

Table 'employees' already exists.

In [45]:
table_name = "employees"
columns = ['name','position','salary']
values = ('Alice Johnson', 'Data Analyst',70000.00)

In [47]:
abc.insert(table_name,columns,values)

Record inserted successfully. Rows affected: 1.

In [49]:
QUERY = "SELECT * FROM EMPLOYEES"
abc.fetch_all(QUERY)

[{'id': 1,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 2,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 3,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 4,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 5,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 7,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 8,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 10,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 12,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')}]

In [51]:
QUERY = "SELECT * FROM employees WHERE id = %s"
PARAMS = (1,)
RESULT = abc.fetch_one(QUERY,PARAMS)
print(RESULT)

{'id': 1, 'name': 'Alice Johnson', 'position': 'Data Analyst', 'salary': Decimal('70000.00')}

In [53]:
QUERY = "SELECT * FROM employees"
result = abc.fetch_one(QUERY)
print(result)

{'id': 1, 'name': 'Alice Johnson', 'position': 'Data Analyst', 'salary': Decimal('70000.00')}

In [55]:
table = "employees"
set_values = {'name' : 'John Giblson', 'position' : 'Senior Data Analyst','salary' : '829829.88'}
where_clause = "id = '2'"

abc.update(table,set_values,where_clause)

No records were updated because no matching records were found.

In [58]:
table = "employees"
set_values = {'name' : 'John Giblson', 'position' : 'Senior Data Analyst','salary' : '829829.88'}
where_clause = "id = '7'"

abc.update(table,set_values,where_clause)

Record(s) updated successfully. Rows affected: 1.

In [60]:
QUERY = "SELECT * FROM EMPLOYEES"
abc.fetch_all(QUERY)

[{'id': 1,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 2,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 3,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 4,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 5,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 7,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 8,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 10,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 12,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')}]

In [62]:
table = "employees"
where_clause = "id = '11'"
abc.delete(table,where_clause)

No records were deleted because no matching records were found.

In [64]:
QUERY = "SELECT * FROM EMPLOYEES"
abc.fetch_all(QUERY)

[{'id': 1,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 2,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 3,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 4,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 5,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 7,
  'name': 'John Giblson',
  'position': 'Senior Data Analyst',
  'salary': Decimal('829829.88')},
 {'id': 8,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 10,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')},
 {'id': 12,
  'name': 'Alice Johnson',
  'position': 'Data Analyst',
  'salary': Decimal('70000.00')}]

In [66]:
table = "employees"
where_clause = "id = '12'"
abc.delete(table,where_clause)

Record(s) deleted successfully. Rows affected: 1.

In [70]:
# q5 : create a class to implement insert , uupdate and delete in monngo db 
# q6 : create a class to perform append and delete operation in a file and inherit it in child class 
# q7 : create a class to import a data into file from mongo db 
# q8 : Create a class to build a calculator funcnalities addition , subtraction , multiplication ,div , log , exponenet , power 
# q9 : create a class method to find a time and space complexity of any function
# q10: create a class to do a bulk uplaod of a file in mysql 
# q11: give 10 different example of ploymorphism , encaptulation ,data  abstraction , overloading , ovverriding , multiple inheritance
# q12: Try to explore a meaning of "-> " this sinnature in python

In [72]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.8.0-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.8.0-cp312-cp312-win_amd64.whl (680 kB)
   ---------------------------------------- 0.0/680.4 kB ? eta -:--:--
   -- ------------------------------------ 41.0/680.4 kB 991.0 kB/s eta 0:00:01
   --------------------- ------------------ 368.6/680.4 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 680.4/680.4 kB 5.4 MB/s eta 0:00:00
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   ---------------------------------------- 307.7/307.7 kB 9.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.8.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from pymongo.mongo_client import MongoClient

class MongoDB():
    def __init__(self,username,password):
        self.username = username
        self.password = password

    def connectToMongoDB:
    uri = "mongodb+srv://" + username + ":" + password +