In [37]:
class Car:
    pass

In [39]:
audi=Car()

In [41]:
audi.year=2006
audi.milage=10
audi.make=345
audi.model="abc"

In [43]:
audi.make

345

In [45]:
audi.milage

10

In [47]:
audi.make

345

In [49]:
audi.model

'abc'

In [51]:
audi.year

2006

In [53]:
nano = Car()

In [55]:
nano.year=2007
nano.milage=67
nano.make=67
nano.model="xyz"

In [61]:
class Car:
    def __init__(self,milage,make,year,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [65]:
nano1=Car(10,2009,45,"jdsk")
nano2=Car(10,2009,45,"jdsk")
nano3=Car(10,2009,45,"jdsk")
nano4=Car(10,2009,45,"jdsk")
nano5=Car(10,2009,45,"jdsk")
nano6=Car(10,2009,45,"jdsk")

In [207]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo

    def age(b,current_year):
        return current_year-b.year

    def milage1(self):
        print(f'Print a milage of the car {self.milage}')
    #if I want to print a method use __str__
    def __str__(c):
        return "this is from class i have created"

In [209]:
nano23=Car(10,2009,45,"dbskjcbdskcbnsdk")

In [211]:
nano23.age()

TypeError: Car.age() missing 1 required positional argument: 'current_year'

In [213]:
nano23.age(2024)

15

In [215]:
nano23.milage

10

In [217]:
nano23.milage1()

Print a milage of the car 10

In [219]:
#if I want to print a method use __str__

In [221]:
print(nano23)

this is from class i have created

In [223]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo

    def age2(a,current_year):
        return current_year-a.year

    def milage2(a):
        print(f'Print a milage of the car {a.milage}')
    def __str__(a):
        return "this is from class i have created"

In [225]:
nano33= Car(10,10,10,"dasd")

In [227]:
print(nano33)

this is from class i have created

In [233]:
print(nano33())

TypeError: 'Car' object is not callable

In [246]:
nano33.milage2()

Print a milage of the car 10

In [235]:
#if I want to print a method use __str__

In [276]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name=first_name
        self.last_name=last_name
        self.age=age

    def __str__(self):
        return (f'this is the person class')

In [278]:
person1=Person("Abhishek","Singh",26)

In [280]:
print(person1)

this is the person class

In [282]:
person1.age

26

In [284]:
person1.first_name

'Abhishek'

In [286]:
person1.last_name

'Singh'

In [353]:
class Student:

    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic

    def curr_topic(self):
        print(f'current topic discussed in class is {self.current_topic}')

    def str_rollno(self):
        try:
            if type(self.rollno)==str:
                print("do nothing")
            else:
                return str(self.rollno)
        except Exception as e:
            print(f'this is my error message: {e}')

    def duration(self,current_date):
        print (f'duration of student in my class is {current_date - self.joining_date}')

    def __str__(self):
        return (f'this is student class')

In [355]:
student1=Student("Abhishek",842839,1997,"Encapsulation")
student2=Student("Sav","878798",2001,"Encapsulation 1.1")

In [357]:
student1.curr_topic

In [359]:
student1.curr_topic()

current topic discussed in class is Encapsulation

In [361]:
student1.duration()

TypeError: Student.duration() missing 1 required positional argument: 'current_date'

In [363]:
student1.duration(2024)

duration of student in my class is 27

In [365]:
print(student1)

this is student class

In [371]:
student2.rollno

'878798'

In [373]:
student1

In [377]:
student1.current_topic

'Encapsulation'

In [421]:
class Calculator:
    def __init__(self):
        self.first_number=int(input("enter first number"))
        self.second_number=int(input("enter second number"))

    def addition(self):
        return f'Addition of {self.first_number} and {self.second_number} numbers is = {self.first_number+self.second_number}'

    def subtraction(self):
        if self.first_number > self.second_number:
            return f'Subtraction of {self.first_number} and {self.second_number} numbers is = {self.first_number-self.second_number}'
        else:
            return f'Subtraction of {self.second_number} and {self.first_number} numbers is = {self.second_number-self.first_number}'

    def multiplication(self):
         return f'Multiplication of {self.first_number} and {self.second_number} numbers is = {self.second_number*self.first_number}'

    def division(self):
        try:
            return f'Division of {self.first_number} and {self.second_number} numbers is = {self.first_number/self.second_number}'
        except ZeroDivisionError:
            return f'Zero Division Error'
    def __str__(self):
        return f'calculator'

In [425]:
c1=Calculator()

enter first number 8
enter second number 9

In [427]:
c1.addition

In [429]:
c1.addition()

'Addition of 8 and 9 numbers is = 17'

In [431]:
c1.subtraction()

'Subtraction of 9 and 8 numbers is = 1'

In [433]:
c1.multiplication()

'Multiplication of 8 and 9 numbers is = 72'

In [435]:
c1.division()

'Division of 8 and 9 numbers is = 0.8888888888888888'

In [439]:
c2=Calculator()

enter first number 0
enter second number 9

In [441]:
c2.addition()

'Addition of 0 and 9 numbers is = 9'

In [445]:
c2.division()

'Division of 0 and 9 numbers is = 0.0'

In [447]:
c2.multiplication()

'Multiplication of 0 and 9 numbers is = 0'

In [449]:
c2.subtraction()

'Subtraction of 9 and 0 numbers is = 9'

In [451]:
c3=Calculator()

enter first number 4
enter second number 0

In [457]:
c3.addition()

'Addition of 4 and 0 numbers is = 4'

In [459]:
c3.division()

'Zero Division Error'

In [461]:
c3.subtraction()

'Subtraction of 4 and 0 numbers is = 4'

In [463]:
c3.multiplication()

'Multiplication of 4 and 0 numbers is = 0'