In [37]:
class Car:
    pass

In [39]:
audi=Car()

In [41]:
audi.year=2006
audi.milage=10
audi.make=345
audi.model="abc"

In [43]:
audi.make

345

In [45]:
audi.milage

10

In [47]:
audi.make

345

In [49]:
audi.model

'abc'

In [51]:
audi.year

2006

In [53]:
nano = Car()

In [55]:
nano.year=2007
nano.milage=67
nano.make=67
nano.model="xyz"

In [61]:
class Car:
    def __init__(self,milage,make,year,model):
        self.milage=milage
        self.year=year
        self.make=make
        self.model=model

In [65]:
nano1=Car(10,2009,45,"jdsk")
nano2=Car(10,2009,45,"jdsk")
nano3=Car(10,2009,45,"jdsk")
nano4=Car(10,2009,45,"jdsk")
nano5=Car(10,2009,45,"jdsk")
nano6=Car(10,2009,45,"jdsk")

In [107]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.milage=m
        a.year=y
        a.make=ma
        a.model=mo

    def age(b,current_year):
        return current_year-b.year

    def milage(self):
        print(f'Print a milage of the car {self.milage}')

In [109]:
nano23=Car(10,2009,45,"dbskjcbdskcbnsdk")

In [111]:
nano23.age()

TypeError: Car.age() missing 1 required positional argument: 'current_year'

In [113]:
nano23.age(2024)

15

In [115]:
nano23.milage()

TypeError: 'int' object is not callable