In [22]:
# q1 : Create your own class to perform a list search operation

In [10]:
import logging

logging.basicConfig(filename='logger.log',level=logging.DEBUG , filemode = 'w', format="%(asctime)s %(levelname)s %(message)s")

class ListSearch:
    def __init__(self):
        user_input = input("Enter a list of numbers separated by commas (eg, 1,2,3,4,5,7): ")
        try:
            # Convert the input string into a list of integers
            self.list_arr = [int(x) for x in user_input.split(',')]
            logging.info(f"List Initialized: {self.list_arr}")
        except ValueError as e:
            logging.error("Invalid input for the list. Ensure you enter only numbers separated by commas.")
            logging.exception(e)
            self.list_arr = [] #deault empty list is input is invalid
        
    def linear_search(self,target):
        try:
            logging.info("Search Operation....." )  
            #if target == target/0:
             #   _ = 1 / 0 #This will raise ZeroDivisionError
            for i in range(len(self.list_arr )):
                if self.list_arr [i] == target:
                    logging.info("Successful Search" )
                    return i , True
            logging.info("Unsuccessful Search" )
            return None, False
        except Exception as e:
            logging.exception("Error Occurred during search")
            return None, False

In [12]:
listsearch_obj = ListSearch ()

Enter a list of numbers separated by commas (eg, 1,2,3,4,5,7):  1,2,3,4,5,6,7,8,9

In [13]:
listsearch_obj.list_arr

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
listsearch_obj.linear_search(5)

(4, True)

In [15]:
listsearch_obj.linear_search(0)

(None, False)

In [17]:
import logging

logging.basicConfig(filename='logger.log', level=logging.DEBUG, filemode='w', format="%(asctime)s %(levelname)s %(message)s")

class ListSearch:
    def __init__(self):
        while True:
            try:
                # Ask for the size of the array
                size = int(input("Enter the size of the array: "))
                if size <= 0:
                    raise ValueError("Size must be a positive integer.")
                break
            except ValueError as e:
                logging.error("Invalid input for array size. Must be a positive integer.")
                logging.exception(e)
                print("Invalid size. Please try again.")

        while True:
            try:
                # Ask for the array elements
                user_input = input(f"Enter {size} numbers separated by commas (e.g., 1,2,3,...): ")
                # Convert the input string into a list of integers
                self.list_arr = [int(x) for x in user_input.split(',')]
                
                # Validate the length of the list
                if len(self.list_arr) != size:
                    raise ValueError(f"Expected {size} numbers, but got {len(self.list_arr)}.")
                
                logging.info(f"List Initialized: {self.list_arr}")
                break
            except ValueError as e:
                logging.error("Invalid input for the list. Ensure you enter the correct number of integers.")
                logging.exception(e)
                self.list_arr = []  # Default to an empty list on error
                print("Invalid input. Please try again.")

    def linear_search(self, target):
        try:
            logging.info("Search Operation started...")
            # Uncomment the next lines if you want to simulate an error
            # if target == target / 0:
            #     _ = 1 / 0  # This will raise ZeroDivisionError

            for i in range(len(self.list_arr)):
                if self.list_arr[i] == target:
                    logging.info(f"Successful Search: Found target {target} at index {i}.")
                    return i, True
            logging.info(f"Unsuccessful Search: Target {target} not found.")
            return None, False
        except Exception as e:
            logging.exception("Error Occurred during search")
            return None, False

In [19]:
# Create the ListSearch object
listsearch_obj = ListSearch()

Enter the size of the array:  2
Enter 2 numbers separated by commas (e.g., 1,2,3,...):  1,2,3,3

Invalid input. Please try again.

Enter 2 numbers separated by commas (e.g., 1,2,3,...):  1,2

In [20]:
listsearch_obj.linear_search(5)

(None, False)

In [21]:
listsearch_obj.linear_search(1)

(0, True)

In [23]:
# q2 : create a class for dict new element addition

In [24]:
import logging

logging.basicConfig(filename='newlogger1.log', level=logging.DEBUG, filemode='w', format="%(asctime)s %(levelname)s %(message)s")

class DictManager:
    def __init__(self):
        self.my_dict = {}
        
    def add_element(self,key,value):
        logging.info("This is to add element to dict" )
        if key in self.my_dict:
            logging.error("This element is already present into dict" )
            print(f" Key '{key}' already exists. Updating the value.")
        self.my_dict[key] = value
        logging.info("This element is Added/Updated into dict " )
        print(f"Added/Updated: {key} -> {value}")
            
    def remove_element(self, key):
        if key in self.my_dict:
            del self.my_dict[key]
            logging.info("This element is deleted from dict" )
            print("Removed: {key}")
        else:
            logging.error("This element is not found in dict" )
            print(f"Key '{key} is not found.")
            
    def get_element(self,key):
        logging.error("This element is not found in dict" )
        return self.my_dict.get(key,"Key not found.")
    
    def display_dict(self):
        logging.info("This element is displayed from dict" )
        return self.my_dict

In [14]:
m = DictManager()

In [15]:
m.add_element('name','Alice')

Added/Updated: name -> Alice

In [16]:
m.add_element('age',30)

Added/Updated: age -> 30

In [17]:
m.display_dict()

{'name': 'Alice', 'age': 30}

In [18]:
m.get_element('Alice')

'Key not found.'

In [19]:
m.get_element('age')

30

In [20]:
m.remove_element(30)

Key '30 is not found.

In [21]:
m.remove_element('age')

Removed: {key}

In [22]:
m.display_dict()

{'name': 'Alice'}

In [307]:
# q3 : create a class for tuple data extraction operation

In [287]:
import logging

# Set up logging configuration
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

class TupleExtractor:
    def __init__(self, data):
        if not isinstance(data, tuple):
            logging.error("Initialization failed: Data must be a tuple.")
            raise TypeError("Data must be a tuple.")
        self.data = data
        self.flattened_data = self.flatten(data)
        self.index_map = self.create_index_map(self.flattened_data)
        logging.info(f"Initialized with data: {self.data}")

    def get_element(self, index):
        """Returns the element at the specified index in the flattened version of the tuple."""
        try:
            result = self.flattened_data[index]
            logging.info(f"Retrieved element at index {index}: {result}")
            return result
        except IndexError:
            logging.error(f"Index out of range: {index}")
            raise IndexError("Index out of range.")

    def get_slice(self, start=None, end=None):
        """Returns a slice of the flattened version of the tuple from start to end."""
        result = self.flattened_data[start:end]
        logging.info(f"Retrieved slice from index {start} to {end}: {result}")
        return result

    def find_element(self, value):
        """Returns a list of indices where the value is found in the flattened tuple."""
        indices = self.index_map.get(value, [])
        if indices:
            logging.info(f"Found element {value} at indices {indices}")
        else:
            logging.warning(f"Element {value} not found.")
        return indices

    def get_length(self):
        """Returns the length of the flattened version of the tuple."""
        length = len(self.flattened_data)
        logging.info(f"Length of flattened tuple: {length}")
        return length

    def count_occurrences(self, value):
        """Returns the number of occurrences of the value in the flattened version of the tuple."""
        count = len(self.index_map.get(value, []))
        logging.info(f"Count of element {value}: {count}")
        return count

    def flatten(self, data):
        """Recursively flattens a nested tuple."""
        flattened = []
        for elem in data:
            if isinstance(elem, tuple):
                flattened.extend(self.flatten(elem))
            else:
                flattened.append(elem)
        logging.debug(f"Flattened data: {flattened}")
        return flattened

    def create_index_map(self, flattened_data):
        """Creates a map of element values to their indices."""
        index_map = {}
        for i, value in enumerate(flattened_data):
            if value not in index_map:
                index_map[value] = []
            index_map[value].append(i)
        return index_map

In [288]:
data1 = (10,20,(30,40),50,60)

In [289]:
tup1 = Tuple_data_extract(data1)

In [290]:
tup1.get_element(1)

20

In [291]:
tup1.get_slice(-3)

[40, 50, 60]

In [292]:
tup1.find_element(40)

[(2, 1)]

In [293]:
tup1.find_element(170)

[]

In [294]:
data2 = (10,20,30,40,50,60)

In [295]:
tup2 = Tuple_data_extract(data2)

In [296]:
tup2.find_element(40)

[(3,)]

In [297]:
data3 = (10,(20,(30),(70,40),50),40,60)

In [298]:
tup3 = Tuple_data_extract(data3)

In [299]:
tup3.find_element(40)

[(1, 2, 1), (2,)]

In [300]:
tup3.count_occurrences(60)

1

In [301]:
tup3.count_occurrences(40)

2

In [302]:
data4 = (10, (20, (30,), (70, 40), 50), 60)

In [303]:
tup4 = Tuple_data_extract(data4)

In [304]:
tup4.count_occurrences(40)

1

In [305]:
tup4.find_element(40)

[(1, 2, 1)]

In [306]:
tup4.get_length()

7

In [311]:
# q4 : Create a class to implement all insert , update , delete operation for mysql
# q5 : create a class to implement insert , uupdate and delete in monngo db 
# q6 : create a class to perform append and delete operation in a file and inherit it in child class 
# q7 : create a class to import a data into file from mongo db 
# q8 : Create a class to build a calculator funcnalities addition , subtraction , multiplication ,div , log , exponenet , power 
# q9 : create a class method to find a time and space complexity of any function
# q10: create a class to do a bulk uplaod of a file in mysql 
# q11: give 10 different example of ploymorphism , encaptulation ,data  abstraction , overloading , ovverriding , multiple inheritance
# q12: Try to explore a meaning of "-> " this sinnature in python

In [312]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 45.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [317]:
import mysql.connector
from mysql.connector import Error

def connect_to_database(host, port, user, password, database=None):
    """Establishes a connection to the MySQL database."""
    try:
        # Create a connection object
        connection = mysql.connector.connect(
            host=host,
            port=port,
            user=user,
            password=password,
            database=database  # Optional, omit if not connecting to a specific database
        )
        if connection.is_connected():
            print("Successfully connected to the database.")
            return connection
    except Error as e:
        print(f"Error: {e}")
        return None

def close_connection(connection):
    """Closes the connection to the MySQL database."""
    if connection and connection.is_connected():
        connection.close()
        print("Connection closed.")

# Example usage
if __name__ == "__main__":
    # Connection parameters
    host = '127.0.0.1'
    port = 3306
    user = 'abc'
    password = 'password'
    database = 'ineuron'  # Replace with your database name or leave as None if not using

    # Connect to the database
    connection = connect_to_database(host, port, user, password, database)

    # Do database operations here...

    # Close the connection
    close_connection(connection)

Error: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

In [318]:
import mysql.connector
from mysql.connector import Error

def connect_to_database(host, port, user, password, database=None):
    """Establishes a connection to the MySQL database."""
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host,
            port=port,
            user=user,
            password=password,
            database=database  # Optional, omit if not connecting to a specific database
        )
        if connection.is_connected():
            print("Successfully connected to the database.")
    except Error as e:
        print(f"Error: {e}")
    finally:
        return connection

def close_connection(connection):
    """Closes the connection to the MySQL database."""
    if connection and connection.is_connected():
        connection.close()
        print("Connection closed.")

# Example usage
if __name__ == "__main__":
    host = '127.0.0.1'
    port = 3306
    user = 'abc'
    password = 'password'
    database = 'your_database_name'  # Replace with your database name or leave as None if not using

    connection = connect_to_database(host, port, user, password, database)

    # Perform database operations if connection is successful
    if connection:
        close_connection(connection)

Error: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

In [315]:
import mysql.connector
from mysql.connector import Error

class MySQLDatabase:
    def __init__(self, host, user, password, database):
        self.host = host
        self.user = user
        self.password = password
        self.database = database
        self.connection = None

    def connect(self):
        """Establishes a connection to the MySQL database."""
        try:
            self.connection = mysql.connector.connect(
                host=self.host,
                user=self.user,
                password=self.password,
                database=self.database
            )
            if self.connection.is_connected():
                print("Successfully connected to the database.")
        except Error as e:
            print(f"Error: {e}")
    
    def close(self):
        """Closes the connection to the MySQL database."""
        if self.connection.is_connected():
            self.connection.close()
            print("Connection closed.")
    
    def insert(self, table, columns, values):
        """Inserts data into a table."""
        try:
            cursor = self.connection.cursor()
            columns_str = ', '.join(columns)
            placeholders = ', '.join(['%s'] * len(values))
            query = f"INSERT INTO {table} ({columns_str}) VALUES ({placeholders})"
            cursor.execute(query, values)
            self.connection.commit()
            print("Record inserted successfully.")
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()
    
    def update(self, table, set_values, where_clause):
        """Updates records in a table."""
        try:
            cursor = self.connection.cursor()
            set_clause = ', '.join([f"{col} = %s" for col in set_values.keys()])
            query = f"UPDATE {table} SET {set_clause} WHERE {where_clause}"
            cursor.execute(query, list(set_values.values()))
            self.connection.commit()
            print("Record updated successfully.")
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()

    def delete(self, table, where_clause):
        """Deletes records from a table."""
        try:
            cursor = self.connection.cursor()
            query = f"DELETE FROM {table} WHERE {where_clause}"
            cursor.execute(query)
            self.connection.commit()
            print("Record(s) deleted successfully.")
        except Error as e:
            print(f"Error: {e}")
        finally:
            cursor.close()
    
    def fetch_all(self, query, params=None):
        """Fetches all records from a query."""
        try:
            cursor = self.connection.cursor(dictionary=True)
            cursor.execute(query, params)
            result = cursor.fetchall()
            return result
        except Error as e:
            print(f"Error: {e}")
            return []
        finally:
            cursor.close()

# Example usage:
if __name__ == "__main__":
    # Replace with your MySQL database credentials
    db = MySQLDatabase(host='localhost', user='abc', password='password', database='test_db')
    db.connect()
    
    # Insert example
    db.insert('employees', ['name', 'position', 'salary'], ('John Doe', 'Developer', 50000))
    
    # Update example
    db.update('employees', {'salary': 55000}, 'name = "John Doe"')
    
    # Delete example
    db.delete('employees', 'name = "John Doe"')
    
    # Fetch example
    results = db.fetch_all('SELECT * FROM employees')
    print(results)
    
    db.close()

Error: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

UnboundLocalError: local variable 'cursor' referenced before assignment